li.ui-menu-item {
  display: inline;
  float: left;
  clear: left;
  color: white;
  background-color: #BADA55;
  list-style-type: none;
  padding: 0.5em;
  margin: 1px;
  border-radius: 3px;
}

li.ui-menu-item:hover {
  background-color: black;
}

span div {
  display: none;
}

li:first-child {
  margin-top: 2em;
}

li.ui-menu-item:hover {
  cursor: pointer;
}


canvas#colors_sketch {
  background-color: #FFFFF0;
  box-shadow: 8px 8px 8px #888888;
}
div.draw {
  margin-bottom: 100px;
  margin-left: 2%;
}

.tools a {
  /*width: 10px;*/
  padding: 10px;
  height: 10px;
  border: 1px solid black;
}

.tools div {
  display: inline-block;
  margin-bottom: 0.5em;
}


.hidden {
  display: none;
}

input.url {
  width: 450px;
  margin-bottom: 1em;
}

button.add-photo {
  margin-bottom: 1em;
}

img.doc-photo {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

div.photo {
  width: 65%;
}

