li.ui-menu-item {
  display: inline;
  float: left;
  clear: left;
  color: white;
  background-color: #BADA55;
  list-style-type: none;
  padding: 0.5em;
  margin: 1px;
  border-radius: 3px;
}

li.ui-menu-item:hover {
  background-color: black;
}

span div {
  display: none;
}

li:first-child {
  margin-top: 2em;
}

li.ui-menu-item:hover {
  cursor: pointer;
}
