header h1 {
  font-size: 140%;
  margin-left: 15px;
  margin-top:5px;
}

small {
  color: white;
}

#home {
  margin-bottom: 20px;
}

.sign {
  margin-top: 150px;
  margin-bottom: 150px;
}

.btn-one {
  color:white;
}

#content_column {
	float: center;
	width: 40%;
	position: absolute;
	left: 30%;
	right: 30%;
}

.aligncenter {
	text-align: center;
}

.notcenter {
	text-align: left;
}

.new-word{

}

#save {
	background-color: green;
	border-radius: 5px;
	border-color: green;
}

#new-word {
	background-color: blue;
	border-radius: 5px;
	border-color: blue;

}