<main class="aligncenter">
	<h1>Here will be the title of the doc...</h1>
	<section id="content_column">
		<div class="doc-content">
			<p contenteditable="true"><%= @doc.content %></p>
		</div>
    <div class="save">
		  <form method="PUT" action="/docs/<%= @doc.id %>">
		    <!-- <input type="hidden" name="_method" value="PUT"> -->
		    <input id="save" type="submit" value="SAVE!">
		  </form>
		</div>

		<div class="new-word">
		  <form>
		    <input class="new-word" type="text" placeholder="Enter a new word here:">
		    <input id="new-word" type="submit" value="+">
		  </form>
		</div>
	</section>
</main>
