<h1>Here will be the title of the doc...</h1>

<div class="form">
  <form method="POST" action="/docs">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="SAVE! :)">
  </form>
</div>

<!--
GET facebook.com/myfriends
<< HEADERS

body
body
body -->


GET
POST
PUT/PATCH
DELETE
