<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Write Fast</title>
  <link rel="stylesheet" href="../../public/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../public/css/font-awesome.css"/>
  <link rel="stylesheet" href="../../public/css/ionicons.css"/>
  <link rel="stylesheet" href="../../public/css/style.css"/>
  <link rel="stylesheet" href="../../public/css/fix.css"/>
  <link rel="icon" href="../../public/favicon.ico" />
</head>
<body>
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper">
        <h1><img src="../../public/img/white-pencil.png" alt="logo image" />   WRITEFAST <small>  Predictive Text Editor</small></h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" >
        <div class="menu-links scroll-me">
          <a href="/"> <i class="ion-ios-home-outline"></i> </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Header for the list -->
<div id="docs-list" class="docs">
  <div class="container">
    <img src="../../public/img/girl.jpeg" alt="..." class="img-circle" style="width: 20%; float:left; margin: 10px;">
      <h1 style="margin-left: 20%;">Olga's Documents</h1>
        <button type="button" class="btn btn-primary" style="float: right;">New Document</button>

<!--List of documents -->
    <div class="row" style="clear: both; margin-top: 5%;">

<!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Title</h3>
        </div>
      
        <div class="panel-body">
          Panel content
        </div>
      </div>

<!-- Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Title</h3>
      </div>
      <div class="panel-body">
        I'm a second grader and this is my paragraph.
      </div>
    </div>

<!-- Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

<!-- Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    </div> <!-- end div class row -->

<!-- Prev/Next Pagination -->
  <nav>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav>

  </div> <!-- end div class container -->
</div> <!-- end div class docs -->

<!-- footer -->
<footer class="footer row">
  <div class="col-sm-2"></div>
  <p class="col-sm-10">Website design and developement by &copy;Adam Fluke. <a href="LICENSE">License and Terms of Use</a></p>
</footer>
</body>
</html>
