<div id="home">
  <div class="overlay">
    <div class="container">
      <div class="row scroll-me" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h1 >Help your kid fall in love with writing stories!</h1>
          <h4>Leave the spelling and word formation to us.</h4>
          <a href="/users/new" class="btn btn-custom btn-two" >Sign up</a>
          <a href="/sessions/new" class="btn btn-custom btn-one" >Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>
     <!-- DEMO SECTION START-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="head-line">What Worth Here & Why  ?</h2>
                    <p >
                       Morbi mollis lectus et ipsum sollicitudin varius.
                         Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
                         Maecenas a quam erat. Praesent vehicula ut magna sit amet ultrices.
                    </p>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center" >
                  <video autoplay loop class="embed-responsive-item">
                  <source src="video/normal.mp4" type="video/mp4">
                  </video>
                    <!-- <img src="assets/img/phone.png" class="img-side" alt="" /> -->
                </div>
            </div>
        </div>
    </section>
    <!-- DEMO SECTION END-->

<div class="container">
  <div class="row">
    <div class="panel panel-default col-lg-3 col-md-3 col-sm-3 col-xs-12 home-panel">
        <div class="panel-heading">
          <h3 class="panel-title">How it helps</h3>
        </div>
      <div class="panel-body">
        <p>Students are able to learn to make sentences fluently because the skills that get in the way for making sentences are removed; spelling, hand writing, even reading skils. While it is important to improve in these areas as well, making sentences supports their overall growth because they begin to use words to express themselves.</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
    <div class="panel panel-default col-lg-3 col-md-3 col-sm-3 col-xs-12 home-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Features</h3>
        </div>
      <div class="panel-body">
        <p>Students can:
        <ul>
          <li>create, edit, save, and revise documents</li>
          <li>upload images into the document to facilitate Read, Draw, Write strategies</li>
          <li>Use text to speech accessiblity tools to read the document they are writing, and words they want to add before adding them to the document</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
    <div class="panel panel-default col-lg-4 col-md-4 col-sm-4 col-xs-12 home-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Demo</h3>
        </div>
      <div class="panel-body">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video autoplay loop class="embed-responsive-item">
            <source src="video/normal.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
