<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Write Fast</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/ionicons.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/fix.css">
</head>
<body>
<header id="header">
  <div class="container" >
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper">
        <h1><img src="../img/white-pencil.png" alt="logo image" />   WRITEFAST <small>  Predictive Text Editor</small></h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" >
        <div class="menu-links scroll-me">
          <% if current_user %>
            <form action="/sessions/<%= @current_user.id %>" method="post">
              <input name ="_method" type="hidden" value="delete"/>
              <input type="submit" value="Sign Out" class="btn btn-warning" style="float: right;"/>
            </form>
            <a id="user-button" href="/users/<%= @current_user.id %>"<button class="btn btn-primary">Your Docs</button></a>
          <% end %>
          <a href="/"> <i class="ion-ios-home-outline"></i> </a>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <%= yield %>
</main>
<footer class="footer row">
  <div class="col-sm-2"></div>
  <p class="col-sm-10">Website design and developement by &copy;Adam Fluke. <a href="LICENSE">License and Terms of Use</a></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/responsivevoice.js"></script>
<script src="https://intridea.github.io/sketch.js/lib/sketch.js"></script>
<script src="/js/wordList.js"></script>
<script src="/js/application.js"></script>

</body>
</html>
