<div id="sign-up" class="sign">
  <div class="container">
    <div class="row">
      <h1>Sign Up for WriteFast</h1>
      <form action="/users" method="post" class="form" id="sign-up-form">
        <div class="form-group">
            <label for="user">User Name:</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="User Name">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
